.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222;
}

.logo-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.logo-part {
  position: absolute;
  width: 20px;
  height: 100px;
}
.top {
  background-color: #8cc063;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.right {
  background-color: #ff6f31;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.bottom {
  background-color: #f0e68c;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.left {
  background-color: #00adee;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.text-container {
  text-align: center;
  color: #fff;
}

.text-container h1 {
  margin: 0;
  font-size: 24px;
}

.text-container p {
  margin: 0;
  font-size: 16px;
  color: #ccc;
}